@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <img src="~/img/film.png" width="500" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
